* {
margin: 0px;
padding: 0px;
text-align: center;
font: bold 12px verdana, sans-serif
}

header, section, footer, aside, nav, article, figure, figcaption, hrgroup{
display: block;
}

body {
    height: 100%;
    /*proveen barras de desplazamiento si hay contenido excedente.*/
    overflow-x: auto;
    /*evitar que la barra de dezplazamiento no moleste al contenido dinamico de la pagina*/
    overflow-y: scroll;
}

#contenedor{
	width: 90%;
	margin: 15px auto;
	text-align: center;
}

#cabecera {
	width: 100%;
	height: 150px;
	position: relative;
	background: yellow;
	border-radius: 15px;
	margin: 5px;
}

#navegador {
	float: left;
	width: 20%;
	height: 1100px;
	background: red;
	border-radius: 15px;
	margin: 5px;
}

#conetenedorArticulos {
	float: left;
	width: 75%;
	height: auto;
	background: #D9EFBB;
	border-radius: 15px;
	margin: 5px;
}

#pie {
	clear: both;
	background: rgba(204, 204, 204, 0);
	text-align: center;
	padding: 20px;
	font: bold 14px verdana, sans-serif;
	background: pink;
	border-radius: 15px;
	margin: 5px;
}

.articulos {

	width: 90%;
	height: 300px;
	background: #BAEFED;
	padding: 20px;
	margin: 20px;
	border-radius: 15px;
}

.ArticuloHeader {
	width: 95%;
	height: 15%;
	background: #EEC9F3;
	border-radius: 15px;
	margin: 2px;
	padding: 2px;
}

.TituloArticulo {
	width: 95%;
	height: 30%;
	background: #F5E0B9;
	border-radius: 15px;
	margin: 2px;
	padding: 2px;
}

.TiempoArticulo {
	width: 95%;
	height: 30%;
	background: #B8F5DE;
	border-radius: 15px;
	margin: 2px;
	padding: 2px;
}

.ArticuloFooter {
	width: 95%;
	height: 15%;
	background: #ECCD56;
	border-radius: 15px;
	margin: 2px;
    padding: 2px;

}

.ArticuloArticulo {
	width: 90%;
	height: 15%;
	background: #AEEF9C;
	border-radius: 15px;
	margin: 2px;
	padding: 2px;
	float: right;
}

.boton {
	clear: both;
	width: 95%;
	height: 10%;
	background: yellow;
	border-radius: 15px;
	margin: 2px;
    padding: 2px;
}

.TiempoArticuloArticulo {
	width: 95%;
	height: 20%;
	background: #F6B5F6;
	border-radius: 15px;
	margin: 2px;
	padding: 5px;
}

.ContenidoArticulo {
	width: 95%;
	height: 15%;
	border-radius: 15px;
	margin: 2px;
    padding: 2px;
}