<!DOCTYPE html>
<html>
<head>
	<title>Steam ID de {{nickname}}</title>
	<meta charset="UTF-8">
	<style>
	body{font-family: Helvetica, Arial}
    h3{color:#fff;}

	.box{background-color: #171A21;padding:10px;width:30%;}

	.text{background-color: #FFF;padding:10px;}

	</style>
</head>
<body>

<div class="box">
   <h3>Steam ID</h3>
   <div class="text">
	   <p>Hola! <b>{{nickname}}</b>, bienvenido a Steam.</p>

	   <p>Tu SteamID64 es <b style="color:#2696E9">{{steamid64}}</b></p>

	   <p>Steam ID: <b style="color:#2696E9">{{steamid}}</b></p>
   </div>

</div>


</body>
</html>