<!DOCTYPE html>
<html>
<head>
	<title>Steam ID no existente</title>
	<meta charset="UTF-8">
	<style>
	body{font-family: Helvetica, Arial}
    h3{color:#fff;}

	.box{background-color: #171A21;padding:10px;width:30%;}

	.text{background-color: #FFF;padding:10px;}

	</style>
</head>
<body>

<div class="box">
   <h3>Steam ID</h3>
   <div class="text">
	   <b style="color:#E61A13">¡Error!</b> El usuario <b>{{nickname}}</b> no existe en la base de datos de Steam.</p>

	   
   </div>

</div>


</body>
</html>